.font-s {
  font: 600 0.625rem "League Spartan", sans-serif;
}

.font-b-l {
  font: 600 1.25rem "League Spartan", sans-serif;
}

.font-l-sl {
  font: 500 1.75rem "League Spartan", sans-serif;
}

.font-m {
  font: 700 1.875rem "League Spartan", sans-serif;
}

.font-xl {
  font: 600 2rem "League Spartan", sans-serif;
}

.font-xxl {
  font: 600 2.5rem "League Spartan", sans-serif;
}
