:root {
  --white: hsl(0, 100%, 100%);

  /* Theme-1 - Backgrounds */
  --uranianBlue: #afdbf5;
  --YinmnBlue: #2e5090;
  --whiteSmoke: #f5f5f5;
  --iceBlue: #99ffff;
  --powerBlue: #b9d9eb; /* hover */

  /* Theme-1 - keys */
  --gunMetal: #2a3439;
  --gunMetal500: #222;
  --navy600: hsl(225, 50%, 75%);
  --navy700: hsl(225, 21%, 49%);
  --red500: hsl(6, 63%, 60%);
  --red600: #d85b53;

  /* Theme-2 - Backgrounds */
  --ghostWhite: #f2f2f2;
  --platinum: #e5e4e2;
  --orange600: hsl(25, 98%, 60%);
  --orange700: hsl(25, 98%, 40%);

  /* Theme-2 - keys */
  --black: #000;
  --seaSalt: #f7f7f7;
  --blue500: hsl(185, 42%, 37%);
  --blue400: hsl(185, 48%, 50%);

  /* Theme-3 - Backgrounds */
  --lightBlack: #222;
  --lightGray: #dfdfdf;
  --tomato: #ff6347;
  --red800: #d44500;
  --grey: #3a3a3a;

  /* Theme-3 - keys */
  --darkRed: #8b0000;
  --orange: #ffa726;
  --lightSeaGreen: #2e8b57;
}
