.header {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.header picture a {
  position: relative;
  z-index: 999;
}

.container-border-left {
  width: 150px;
  height: 99.6vh;
  border: 1px solid var(--black);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.container-border-left {
  pointer-events: auto;
}

[data-titulo] {
  margin-top: 1.5rem;
  position: relative;
}

[data-titulo]::before {
  content: "";
  width: 110px;
  height: 8px;
  background: var(--lightgreen);
  position: absolute;
  right: 60px;
  top: 70px;
  border-radius: 4px;
  opacity: 0.5;
}

[data-titulo]::after {
  content: "";
  height: 60px;
  width: 60px;
  display: inline-block;
  background: url("../../img/ico-play-60px.png") no-repeat;
}

.menu-icones {
  position: absolute;
  top: 250px;
  left: 35px;
}

.nav-icones .activeDropChoose {
  margin-bottom: 60px;
  cursor: pointer;
}

.nav-icones .activeDropChoose:hover {
  transform: scale(0.9);
}

.btn-icone {
  width: 300px;
  position: absolute;
  left: 60px;
  margin-top: -6.875rem;
  padding: 0.75rem;
  border: 1px solid var(--black);
  background: var(--white);
  color: var(--darkSlateGray);
  text-align: center;
  cursor: pointer;
  box-shadow: 8px 5px 0 0 var(--black);
  border-radius: 4px;
}

.btn-icone:hover {
  background: var(--lightgreen);
  color: var(--white) !important;
}

.drop-wrapper {
  position: relative;
}

.drop-wrapper::after {
  content: "";
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
}

@media (max-width: 1440px) {
  .menu-icones {
    position: absolute;
    top: 160px;
    left: 45px;
  }
}

@media (max-width: 1024px) {
  .menu-icones {
    position: absolute;
    top: 180px;
    left: 45px;
  }
}
