.modal {
  position: absolute;
  left: 30%;
  top: 15%;
  width: 800px;
  height: auto;
}

.modal-flex {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  border: 0.188rem solid var(--black);
  border-radius: 0.625rem;
  background: var(--white);
  box-shadow: 7px 5px 0 0 var(--black);
  position: relative;
  transition: all 0.8s ease;
}

.box-modal:hover {
  transform: translateY(-5px);
  box-shadow: 10px 8px 0 0 var(--black);
}

.box-modal::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: width 0.6s ease;
  background: var(--lightgreen);
  /* background: rgba(0, 0, 0, 0.1); */
  z-index: -1;
}

.box-modal:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.paragraph-modal {
  color: var(--darkSlateGray);
}

.container-close-modal {
  position: absolute;
  top: -15%;
  right: 8%;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .modal {
    margin-top: 0;
  }

  .box-modal {
    width: 240px;
    height: 190px;
  }

  .container-close-modal {
    top: -15%;
    right: 15%;
  }
}

@media (max-width: 1024px) {
  .modal {
    width: 600px;
    left: 15%;
    top: 15%;
  }

  .box-modal {
    width: 200px;
    height: 170px;
  }

  .container-close-modal {
    top: 0;
    right: -6.313rem;
  }
}
