.container-img-rotina {
  position: absolute;
  top: 2.5rem;
  left: 28.75rem;
}

.container-img-rotina img {
  width: 95% !important;
  height: 550px;
  z-index: 1;
}

.instrucao {
  position: absolute;
  right: 4rem;
  top: 1.875rem;
}

.posicao-boneco {
  position: absolute;
  top: 34rem;
  left: 12rem;
}

.numeracao-rotinas {
  position: absolute;
  margin-top: 2.5rem;
  right: 41.25rem;
}

.numeracao-rotinas img {
  margin-bottom: 0.75rem;
  width: 130px;
  height: 130px;
}

[data-numeracao] {
  display: none;
}

[data-numeracao].active {
  display: block;
}

@media (max-width: 1440px) {
  .container-img-rotina {
    top: -0.625rem;
    left: 360px;
  }

  .container-img-rotina img {
    width: 400px !important;
    height: 420px;
  }

  .instrucao {
    top: -7.525rem;
  }

  .posicao-boneco {
    top: 20rem;
    left: 10rem;
    z-index: -1;
  }

  .numeracao-rotinas {
    margin-top: -7.5rem;
    right: 23rem;
  }
}

@media (max-width: 1280px) {
  .container-img-rotina {
    top: 1.25rem;
    left: 21.875rem;
  }

  .container-img-rotina img {
    width: 80% !important;
    height: 550px;
  }

  .instrucao {
    right: 2rem;
    top: -4rem;
  }

  .posicao-boneco {
    top: 32rem;
  }

  .numeracao-rotinas {
    margin-top: -2.5rem;
    right: 21.5rem;
  }
}

@media (max-width: 1024px) {
  #header-gap-utilitario {
    gap: 0;
  }

  #titulo-rotinas-posicao {
    margin: 1.875rem 0 0 -0.875rem;
  }

  .container-img-rotina {
    top: 6.5rem;
    left: 0.3rem;
  }

  .container-img-rotina img {
    width: 60% !important;
    height: 500px;
  }

  .instrucao {
    right: 1rem;
    top: 0;
  }

  .posicao-boneco {
    top: 40.5rem;
    left: 18.6rem;
  }

  .numeracao-rotinas {
    margin-top: 2rem;
    right: 17.5rem;
  }

  .numeracao-rotinas img {
    margin-bottom: 0.75rem;
    width: 100px;
    height: 100px;
    z-index: 0;
  }
}
