.container-img-rotina {
  position: absolute;
  top: 200px;
  left: 500px;
}

@media (max-width: 1440px) {
  .container-img-rotina {
    top: 160px;
    left: 360px;
    /* top: 170px;
    left: 10px; */
  }

  .container-img-rotina img {
    width: 500px !important;
    height: 350px;
    /* width: 320px !important;
    height: 500px; */
  }
}

@media (max-width: 1024px) {
  #header-gap-utilitario {
    gap: 0;
  }

  #titulo-rotinas-posicao {
    margin: 1.875rem 0 0 -0.875rem;
  }

  .container-img-rotina {
    top: 85px;
    left: 10px;
  }

  .container-img-rotina img {
    /* width: 650px !important;
    height: 250px; */
    width: 60% !important;
    height: 550px;
  }
}
