.activatedSpan {
  width: 92%;
  height: auto;
  margin: 0.313rem 0 0 0.938rem;
  padding: 1.25rem;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--paleGoldenRod);
  position: relative;
  display: block;
}

.activatedSpan::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: var(--dark-gray);
  border-radius: 3px 0 0 3px;
}

.activatedParagraph {
  font: 600 1rem/1.3 "Roboto", Arial, sans-serif;
  color: var(--medium-dark);
  max-width: 30ch;
}

.activatedDiv {
  font: 500 0.925rem "Inter", Arial, sans-serif;
  background: var(--white-smoke);
  margin-top: 1.25rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.activatedEditAndSave {
  padding: 0.188rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0.625rem;
}

.activedDivDropDown {
  margin-top: 0.313rem;
  left: 230px;
  width: 140px;
  height: 100px;
  background: var(--paleGoldenRod);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  animation: showDropDown ease 0.6s forwards;
}

@keyframes showDropDown {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }
  to {
    opacity: 1;
  }
}

.divListEdit {
  box-sizing: border-box;
  height: 48px;
  width: 140px;
  padding: 1rem 0;
  position: relative;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.divListRemove {
  box-sizing: border-box;
  height: 50px;
  width: 140px;
  padding: 1rem 0;
  position: relative;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.divListRemove:hover {
  background: var(--dark-gray);
  color: var(--white);
}

.divListEdit:hover {
  background: var(--dark-gray);
  color: var(--white);
}

.edit {
  margin-right: 1.25rem;
}

.edit,
.remove {
  font: 500 1rem "Inter", Arial, sans-serif;
  margin-left: 2.5rem;
}

.divListEdit::before {
  content: "";
  position: absolute;
  background: url("../imagens/edit.png") no-repeat;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 15px;
}

.activatedButtonSave {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: var(--white);
  background: var(--dark-gray);
  padding: 0.3rem 0.35rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2.5rem;
}

.divListEdit:hover::before,
.divListRemove:hover::before {
  filter: brightness(0) invert(1);
}

.divListRemove::before {
  content: "";
  position: absolute;
  background: url("../imagens/delete.png") no-repeat;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 14px;
}

.activatedInputTasks {
  font: 600 1rem "Roboto", Arial, sans-serif;
  color: var(--dark-gray);
  background: var(--very-light-gray);
  max-width: 30ch;
  border-radius: 5px;
  padding: 0.313rem;
  border: none;
}

.activatedInputNote {
  font: 500 0.925rem "Inter", Arial, sans-serif;
  background: var(--very-light-gray);
  margin-top: 1.25rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.activatedDivCheckBox {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ececec;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.activatedDivCheckBox::after {
  content: "";
  background: url("../imagens/check.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  left: 2px;
  top: 2px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (max-width: 1440px) {
  .activatedSpan {
    width: 91%;
    padding: 1.125rem 0.625rem;
  }

  .activatedParagraph {
    margin-left: 0.313rem;
  }

  .activatedDiv {
    margin-left: 0.313rem;
  }

  .activatedEditAndSave {
    top: 10px;
    right: 5px;
  }

  .activedDivDropDown {
    left: 205px;
  }
}

@media (max-width: 1280px) {
  .activatedParagraph {
    max-width: 24ch;
  }

  .activatedInputTasks {
    margin-left: 0.313rem;
  }

  .activatedInputNote {
    margin-left: 0.313rem;
    padding-right: 3px;
  }

  .activatedEditAndSave {
    right: 0.75rem;
  }
  
  .activatedButtonSave {
    margin-left: 1rem;
  }

  .activatedDivCheckBox {
    margin-left: 0.625rem;
  }

  .wrapper {
    gap: 0.5rem;
  }
}
