:root {
  /* Primary */
  --tomato: #f3615c;
  --indianRed: #954a4a;
  --khaki: #e1d47b;
  --nerolac-kokam-red: #ab4343;
  --paleGoldenRod: #ece196;

  /* Neutral */
  --dark-gray: #1d1d1d;
  --medium-dark: #473A39;
  --saturated-gray: #b4b4b4;
  --gainsboro: #d9d9d9;
  --very-light-gray: #F6F6F6;
  --white-smoke: #f5f7f5;
  --white-less-clear: #fafafa;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--tomato);
  transition: background 0.6s ease;
  position: relative;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

