.activatedSpan {
  width: 90%;
  height: auto;
  margin: 5px 0 0 15px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--paleGoldenRod);
  position: relative;
  display: block;
}

.activatedSpan::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: var(--dark-gray);
  border-radius: 3px 0 0 3px;
}

.activatedParagraph {
  font: 600 0.925rem "Roboto", Arial, sans-serif;
  color: var(--medium-dark);
  max-width: 32ch;
}

@media (max-width: 1440px) {
  .activatedSpan {
    background: lightgray;
    width: 80%;
    height: auto;
    margin: 5px 0 0 10px;
    padding: 24px 10px;
    box-sizing: border-box;
    display: block;
  }
}
