.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal p,
.modal li {
  color: var(--medium-dark);
}

.on-pomodoro {
  width: 800px;
  height: 600px;
  background: var(--white-smoke);
  border: 2px solid var(--khaki);
  border-radius: 6px;
}

.on-pomodoro .img-close {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.img-close img {
  cursor: pointer;
}

.faq-lista {
  padding: 0 3.75rem;
}

.faq-lista h1 {
  font: 600 1.7rem "Sansation", Arial, sans-serif;
  color: var(--indianRed);
  margin-bottom: 0.625rem;
  background-image: linear-gradient(to right, #fbf3c3, rgba(148, 230, 190, 0));
  position: relative;
}

.faq-lista p {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  text-align: justify;
  font-size: 0.975rem;
  margin-bottom: 1.25rem;
  line-height: 1.5;
}

.faq-lista p a {
  color: red;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.faq-lista ul {
  padding: 0 20px;
  list-style-type: decimal;
  font-family: "Roboto", Arial, sans-serif;
}

.faq-lista ul li {
  line-height: 1.5;
}
