.tasks {
  width: 500px;
  height: 60px;
  position: absolute;
  bottom: -160px;
  right: 470px;
  background: var(--nerolac-kokam-red);
  opacity: 0.6;
  cursor: pointer;
  border-radius: 6px;
  display: block;
}

.tasks:hover {
  background: rgba(0, 0, 0, 0.2);
}

.tasks::after {
  content: "";
  width: 100%;
  height: 96%;
  position: absolute;
  top: -1px;
  left: -3px;
  border-style: dashed;
  border-color: var(--saturated-gray);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.tasks p {
  text-align: center;
  margin-top: 4%;
  font-size: 1.5rem;
  color: var(--gainsboro);
  position: relative;
}

.tasks p::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: 125px;
  background: url("../images/add-task.svg");
}

.dec-line {
  position: absolute;
  bottom: -50px;
  left: 470px;
  width: 500px;
  height: 2px;
  background: var(--saturated-gray);
  opacity: 0.4;
}

.title-task {
  position: relative;
}

.title-task h1 {
  font: 600 2rem "Sansation", Arial, sans-serif;
  margin: 1.125rem 0 0 1.125rem;
}

.title-task span {
  position: absolute;
  left: 135px;
  top: 9px;
  font-size: 1.5rem;
}

[data-menu="button"] {
  position: absolute;
  top: 2px;
  right: 20px;
  padding: 3px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
}

[data-menu-img] {
  margin-top: 2px;
}

.menu {
  width: 200px;
  height: 110px;
  margin-top: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: var(--white-smoke);
  position: absolute;
  right: 19px;
  z-index: 1;
  display: none;
}

.scale-effect {
  transform: scale(0.9);
}

.menu ul {
  margin-top: 0.313rem;
  position: relative;
  list-style-type: none;
}

.menu ul li:first-child {
  margin-bottom: 1.5rem;
}

.menu ul li:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.menu li {
  cursor: pointer;
  padding: 0.5rem;
}

.menu ul li a {
  font: 500 0.825rem "Roboto", Arial, sans-serif;
  color: var(--medium-dark);
  position: relative;
  vertical-align: middle;
}

.menu ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu ul li:first-child a::before {
  content: "";
  display: inline-block;
  margin-right: 0.188rem;
  background: url("../images/clear.svg");
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.menu ul li:last-child a::before {
  content: "";
  display: inline-block;
  margin-right: 0.188rem;
  background: url("../images/clear-all.svg");
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.add-list-tasks {
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--khaki);
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.inputTasks {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.inputTasks::-webkit-scrollbar {
  width: 6px;
}

.inputTasks::-webkit-scrollbar-thumb {
  background: var(--medium-dark);
  border-radius: 4px;
}

[data-img-close="tasks"] {
  position: absolute;
  left: 420px;
  top: 20px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.container-task {
  margin: 1.25rem 0.938rem;
  position: relative;
  width: 90%;
  height: 170px;
  border: 3px solid var(--white);
  border-radius: 6px;
  background: var(--paleGoldenRod);
}

.container-task input {
  width: 100%;
  padding: 1rem 0.625rem;
  box-sizing: border-box;
  border: none;
  font-size: 1.25rem;
  background: var(--paleGoldenRod);
  border-radius: 0.625rem 0.625rem 0 0;
}

.container-task input::placeholder {
  font-size: 1.25rem;
  font-style: oblique;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: 1px;
  padding-left: 0.5rem;
  opacity: 0.4;
}

.container-task input:focus {
  outline: none;
}

.container-task textarea {
  width: 95%;
  height: 65px;
  margin: 0 0.625rem 0 0.625rem;
  padding: 0.625rem;
  background: var(--white-less-clear);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Inter", Arial, sans-serif;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  resize: none;
  display: none;
}

.container-task textarea::placeholder {
  font-family: "Inter", Arial, sans-serif;
  opacity: 0.4;
}

.container-task textarea:focus {
  outline: none;
}

.add-notes-tasks {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 30px;
  gap: 95px;
}

.add-notes-tasks .btn-add-tasks {
  font: 600 1rem "Inter", Arial, sans-serif;
  letter-spacing: 0.8px;
  color: var(--white);
  background: var(--dark-gray);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-notes-tasks .btn-add-tasks:hover {
  background: #000;
}

.add-notes-tasks span {
  font-family: "Inter", Arial, sans-serif;
  color: var(--medium-dark);
  cursor: pointer;
}

.add-notes-tasks span:hover {
  color: rgba(0, 0, 0, 0.2);
}

.add-notes-tasks span::before {
  content: "";
  display: inline-block;
  background: url("../images/add-more-icon.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: -20px;
}

.add-notes-tasks span:hover::before {
  filter: opacity(0.4);
}

@media (max-width: 1440px) {
  .tasks {
    bottom: -100px;
    right: 410px;
  }

  .dec-line {
    display: none;
  }

  [data-menu="button"] {
    top: 2px;
    right: 14px;
  }

  .title-task h1 {
    font-size: 2rem;
    font-family: "Sansation", Arial, sans-serif;
    margin: 1.125rem 0 0 1.125rem;
  }

  .title-task span {
    left: 140px;
    top: 7px;
  }

  .menu {
    right: 16px;
  }

  .add-list-tasks {
    width: 370px;
  }

  .inputTasks {
    max-height: 295px;
  }

  [data-img-close="tasks"] {
    left: 400px;
  }

  .container-task {
    height: 160px;
  }

  .container-task input {
    padding: 0.938rem 0.5rem;
  }

  .container-task input::placeholder {
    font-size: 1.125rem;
    padding-left: 0.5rem;
  }

  .container-task input:focus {
    outline: none;
  }

  .container-task textarea {
    height: 55px;
    margin: 0.3rem 0 0 0.5rem;
  }

  .add-notes-tasks {
    bottom: 10px;
    left: 30px;
    gap: 65px;
  }

  .add-notes-tasks .btn-add-tasks {
    padding: 0.5rem 0.75rem;
  }

  .add-notes-tasks span {
    position: relative;
  }

  .add-notes-tasks span:hover {
    color: rgba(0, 0, 0, 0.4);
  }

  .add-notes-tasks span:hover::before {
    filter: opacity(0.4);
  }

  .add-notes-tasks span::before {
    top: -1px;
    left: -20px;
  }
}

@media (max-width: 1280px) {
  .tasks {
    right: 370px;
  }

  .container-task input {
    padding: 1rem 0.5rem;
  }

  .container-task input::placeholder {
    font-size: 1.125rem;
  }

  .container-task textarea {
    height: 55px;
    margin: 0 0.625rem 0 0.625rem;
  }

  .add-list-tasks {
    width: 370px;
  }

  .inputTasks {
    max-height: 500px;
  }

  .add-notes-tasks {
    top: 120px;
    left: 35px;
    gap: 75px;
  }

  .add-notes-tasks .btn-add-tasks {
    font-size: 0.875rem;
  }

  .add-notes-tasks span::before {
    top: -1px;
    left: -22px;
  }

  [data-img-close="tasks"] {
    left: 370px;
  }

  .menu {
    right: 13px;
  }
}

@media (max-width: 1024px) {
  .container-task {
    height: 140px;
  }

  .container-task input {
    padding: 0.75rem 0.3rem;
  }

  .add-notes-tasks .btn-add-tasks {
    padding: 0.5rem 8px;
    font-size: 0.75rem;
  }

  .add-notes-tasks {
    top: 100px;
    left: 30px;
    gap: 60px;
  }

  .tasks {
    display: none;
  }

  .add-list-tasks {
    width: 320px;
    display: block !important;
  }

  .inputTasks {
    max-height: 400px;
  }

  [data-img-close="tasks"] {
    display: none !important;
  }
}
