.bg-radiologia {
  background: url("../../img/rad_background-removebg.png") center no-repeat;
  background-size: 75% 130%;
  min-height: 100vh;
}

.container-media-video {
  width: 23%;
  height: 73%;
  border: 3px solid var(--black);
  border-radius: 0.625rem;
  background: var(--white);
  box-shadow: 12px 14px 0 0 var(--black);
  position: fixed;
  right: 3.75rem;
  top: 5.25rem;
  bottom: 0;
}

.media-video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* .informative-paragraph {
  position: absolute;
  right: 4rem;
  top: 1.875rem;
} */

@media (max-width: 90rem) {
  .container-media-video {
    width: 23%;
    height: 75%;
    top: 1.875rem;
  }
}

@media (max-width: 80rem) {
  .container-media-video {
    width: 30%;
    height: 70%;
    top: 5.25rem;
    right: 1.875rem !important;
  }
}
