.bg-radiologia {
  background: url("../../img/rad_background-removebg.png") center no-repeat;
  background-size: 75% 130%;
  min-height: 100vh;
}

.bg-barra-horizontal {
  height: 11%;
  background: url("../../img/barra-horizontal.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.img-proximo {
  height: 65%;
  width: 4%;
  position: absolute;
  right: 0.938rem;
  top: 1.25rem;
  border-radius: 50%;
  z-index: 1;
}

#container-media-video {
  /* width: 900px; */
  width: 23%;
  height: 72%;
  border: 3px solid var(--black);
  border-radius: 0.625rem;
  background: var(--white);
  box-shadow: 12px 14px 0 0 var(--black);
  position: fixed;
  right: 60px;
  top: 6.25rem;
  bottom: 0;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

@media (max-width: 1440px) {
  #container-media-video {
    width: 350px;
    height: 500px;
    top: 30px;
  }

  .img-proximo {
    top: 10px;
  }

  .bg-barra-horizontal {
    height: 80px;
  }
}

@media (max-width: 1280px) {
  .bg-radiologia {
    background-size: contain;
  }

  /* Media somente para a página inicial */
  #container-media-video {
    top: 130px !important;
    right: 30px !important;
  }
}

@media (max-width: 1024px) {
  .bg-radiologia {
    background-size: contain;
  }

  .remover-media {
    display: none;
  }

  .img-proximo {
    height: 80%;
    width: 7%;
    top: 0.313rem;
  }

  .bg-barra-horizontal {
    height: 8%;
  }
}
