#bg-radiologia {
  background: url("../../img/rad_background-removebg.png") center no-repeat;
  background-size: 75% 130%;
  min-height: 100vh;
}

.bg-barra-horizontal {
  height: 100px;
  background: url("../../img/barra-horizontal.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.img-proximo {
  height: 60px;
  width: 100px;
  background: url("../../img/avancar-prox-pagina.png") center no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

#container-media-video {
  width: 400px;
  height: 600px;
  border: 3px solid var(--black);
  box-shadow: 12px 14px 0 0 var(--black);
  border-radius: 0.625rem;
  background: var(--white);
  position: absolute;
  right: 60px;
  top: 100px;
}

@media (max-width: 1440px) {
  #container-media-video {
    width: 350px;
    height: 500px;
    top: 20px;
  }

  .img-proximo {
    top: 10px;
  }

  .bg-barra-horizontal {
    height: 80px;
  }
}
