.bg-radiologia {
  background: url("../../img/rad_background-removebg.png") center no-repeat;
  background-size: 75% 130%;
  min-height: 100vh;
}

.bg-barra-horizontal {
  height: 11%;
  background: url("../../img/barra-horizontal.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.img-proximo {
  height: 65%;
  width: 4%;
  position: absolute;
  right: 0.938rem;
  top: 1.25rem;
  border-radius: 50%;
  z-index: 1;
}

.img-prev {
  height: 65%;
  width: 4%;
  position: absolute;
  left: 0.938rem;
  top: 1.25rem;
  border-radius: 50%;
  z-index: 1;
}

#container-media-video {
  width: 23%;
  height: 73%;
  border: 3px solid var(--black);
  border-radius: 0.625rem;
  background: var(--white);
  box-shadow: 12px 14px 0 0 var(--black);
  position: fixed;
  right: 60px;
  top: 5.25rem;
  bottom: 0;
}

@media (max-width: 1440px) {
  #container-media-video {
    width: 23%;
    height: 75%;
    top: 1.875rem;
  }

  .img-proximo {
    height: 75%;
    width: 4%;
    top: 14%;
  }

  .img-prev {
    height: 75%;
    width: 4%;
    top: 14%;
  }

  .bg-barra-horizontal {
    height: 10%;
  }
}

@media (max-width: 1280px) {
  .bg-radiologia {
    background-size: contain;
  }

  /* Media somente para a página inicial */
  #container-media-video {
    width: 30%;
    height: 70%;
    top: 85px !important;
    right: 30px !important;
  }

  .img-proximo {
    height: 65%;
    width: 4%;
    top: 17%;
  }
}

@media (max-width: 1024px) {
  .bg-radiologia {
    background-size: contain;
  }

  .remover-media {
    display: block;
  }

  .img-proximo {
    height: 60%;
    width: 7%;
    top: 0.938rem;
  }

  .img-prev {
    height: 60%;
    width: 7%;
    top: 0.938rem;
  }

  .bg-barra-horizontal {
    height: 8%;
  }

  #container-media-video {
    width: 70%;
    height: 40%;
    top: 40% !important;
    right: 100px !important;
  }
}
