.titulo-header-typewriter {
  font: 500 4rem "Special Elite", cursive;
  color: var(--darkSlateGray);
}

.span-botao-hover {
  font: 900 1.125rem "Roboto", Arial, sans-serif;
}

.font-p-modal-xl {
  font: 900 3.5rem "Roboto", Arial, sans-serif;;
}