@media (max-width: 1440px) {
  #container-media-video {
    height: 470px;
    top: 55px;
  }
}

@media (max-width: 1024px) {
  #container-media-video {
    /* top: 450px !important;
    right: 140px !important;
    width: 520px !important;
    height: 230px !important; */
    top: 145px !important;
    right: 20px !important;
    width: 40% !important;
    height: 65% !important;
  }
}
