@media (max-width: 1920px) {
  #container-media-video {
    width: 33%;
    height: 55%;
    right: 60px;
    top: 13.25rem;
  }
}

@media (max-width: 1440px) {
  #container-media-video {
    width: 25%;
    height: 75%;
    top: 55px;
  }
}

@media (max-width: 1280px) {
  #container-media-video {
    width: 27%;
    height: 600px;
    top: 7rem !important;
  }
}

@media (max-width: 1024px) {
  #container-media-video {
    top: 145px !important;
    right: 20px !important;
    width: 40% !important;
    height: 65% !important;
  }
}
