.containerBorderLeft {
  width: 8.5%;
  height: 100vh;
  border: 1px solid var(--black);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 13rem;
  z-index: -1;
  pointer-events: auto;
}

:global(.route-rotina-mao) .containerBorderLeft {
  padding-top: 15rem;
}

@media (max-width: 80rem) {
  .containerBorderLeft {
    width: 12%;
  }

  :global(.route-rotina-mao) .containerBorderLeft {
    padding-top: 14rem;
  }
}
