.container-img-pg-inicial {
  position: absolute;
  top: -100px;
}

@media (max-width: 1440px) {
  .container-img-pg-inicial {
    top: -35px;
}
}

@media (max-width: 1024px) {
  .container-img-pg-inicial {
    width: 730px;
    height: 730px;
    position: absolute;
    top: 10px;
    left: -30px;
  }
}