.container-img-pg-inicial {
  position: absolute;
  top: 2rem;
}

.media-video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

@media (max-width: 1440px) {
  .container-img-pg-inicial {
    top: 3.75rem;
    left: -0.5rem;
  }
}

@media (max-width: 1280px) {
  .container-img-pg-inicial {
    top: 7.5rem;
    left: 2.813rem;
  }
}

@media (max-width: 1024px) {
  .container-img-pg-inicial {
    width: 820px;
    position: absolute;
    top: 9rem;
    left: -2.813rem;
  }
}
