.flex-img-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-img-pg-inicial {
  display: flex;
  align-items: center;
  margin-top: -120px;
}

/* .container-titulo-parahraph {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
} */

.titulo-pg-inicial {
  font: 700 6rem monospace;
}

.img-incluir-cuidar {
  /* margin: 0 0 0 120px; */
  align-self: flex-start;
}

@media (max-width: 1440px) {
  .flex-img-video {
    align-items: center;
  }
}