.background-keypad {
  background: var(--YinmnBlue);
  border-radius: 0.625rem;
}

.keypad {
  height: 400px;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 80px repeat(5, 60px);
  margin-top: 1.875rem;
  padding-top: 2rem;
}

.numeric-digits {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.625rem;
  background: var(--whiteSmoke);
  grid-column: 1 / -1;
  position: relative;
}

[data-digit],
[data-operation-display] {
  color: var(--gunMetal);
}

[data-digit] {
  margin-right: 1rem;
}

[data-operation-display] {
  position: absolute;
  left: 1.25rem;
  font: 500 0.938rem "League Spartan", sans-serif !important;
}

.btn-calc {
  width: 3.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gunMetal);
  color: var(--white);
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}

.btn-calc:hover {
  background: var(--gunMetal500);
  transform: translateY(1px);
}

#btn-del {
  text-transform: uppercase;
}

#btn-result,
#btn-reset {
  width: 95%;
  height: 40px;
  margin-top: 1rem;
  color: var(--white);
  background: var(--red600);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

#btn-result:hover,
#btn-reset:hover {
  background: var(--red500);
}

#btn-reset {
  grid-column: 1 / 3;
  margin-right: 0.313rem;
  letter-spacing: 0.1rem;
}

#btn-result {
  grid-column: 3 / 5;
}
