:root {
  --lightgreen: #bedc96;
  --black: #222;
  --darkSlateGray: #282828;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}