:root {
  --lightgreen: #bedc96;
  --palegreen: #62dd57;
  --limegreen: #47b43d;
  --black: #222;
  --darkSlateGray: #282828;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}
