.menuIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  z-index: 999;
}

.dropWrapper {
  position: relative;
}

.dropWrapper::after {
  content: "";
  width: 5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 95%;
}

.activeDropChoose,
.activeDropChoose img {
  cursor: pointer;
}

.menuIcons .activeDropChoose:hover {
  transform: scale(0.9) !important;
}

.ButtonSlideContainer {
  display: block;
  width: 300px;
  position: absolute;
  left: 125%;
  margin-top: -3.125rem;
  padding: 0.75rem;
  border: 1px solid var(--black);
  background: var(--white);
  color: var(--darkSlateGray);
  text-align: center;
  cursor: pointer;
  box-shadow: 8px 5px 0 0 var(--black);
  border-radius: 0.25rem;
  animation: showLeft 0.4s ease-out forwards;
}

@keyframes showLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(10px);
  }
}

.ButtonSlideContainer:hover {
  background: var(--lightgreen);
  color: var(--white);
}

.ButtonSlideContainer:focus {
  outline: none !important;
}
